.container {
  display: flex;
  padding: 2.5rem 2.5rem; /* py-10 px-10 */
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: column;

  .menu {
    flex: 3;
    margin-right: 2rem;
  }

  .sidebar {
    flex: 1;
    position: sticky;
    top: 24px; /* Vị trí sẽ dính lại, cách lề trên 24px */
    align-self: start;
  }

  @media (min-width: 769px) {
    flex-direction: row;
  }
}
