button {
  min-width: auto-fit;
  max-width: 100%;
  padding: 1rem;
  background: var(--blue);
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: var(--dark-blue);
  }

  + button {
    margin-left: 0.75rem;
  }
}

.primary {
  background: var(--blue);
  color: #fff;
}

.outline {
  background: transparent;
  border: 2px solid var(--blue);
  color: var(--blue);
}

.small {
  min-width: 100px;
  padding: 0.25rem 0.5rem;
}
