// src/Pages/Customer/MerchantList/MerchantList.module.scss

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  padding: 40px 0;

  .content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px 0;

    .content {
      padding: 0 12px;
    }
  }
}
