.header {
  background: #f9fafb;
  padding-bottom: 1.5rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 5rem;

  .logo {
    padding: 0.75rem 1rem;
    background-color: #2563eb;
    border-radius: 0.375rem;
  }
  .logo a {
    height: 2.5rem;
    font-size: 2rem;
    font-weight: 600;
    padding: 5px;
    color: white;
    text-decoration: none;
  }
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;

  @media (max-width: 1024px) {
    display: inline-flex;
  }
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: end;
  margin-left: auto; /* đẩy toàn bộ phần còn lại sang phải */
  margin-right: 2rem;

  @media (max-width: 1024px) {
    display: inline-flex;
  }

  a {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;

    &:hover {
      color: #2563eb;
    }
  }
}

.btn-primary {
  background: #2563eb;
  width: 30%;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    background: #1d4ed8;
  }

  @media (max-width: 1024px) {
    .btn-primary {
      display: inline-flex;
    }
  }
}

.home {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
